h2 {
    color: red;
}

body {
    background-color: white;
}

form.signin {
    width: 330px;
    margin: 50px auto;
}

form.signin input.form-control {
    margin-bottom: 5px;
}

form.signin input.btn {
    margin-top: 15px;
}

.users {
    width: 330px;
    margin: 50px;
}

p.text-expression {
	color: #c7bebe;
}

.schematic {
	overflow: hidden;
	height: 70%;
	width: 100%;
    /*padding-bottom: 20px;*/
}

.slider {
	position: absolute;
    right:0;
}

.container {
    position:relative;
    margin-bottom: 40px;
}

.slider .slider-handle {
    /*background: blue;*/
}