h2 {

    text-align: center
}

body {
    background-color: white;
}

form.signin {
    width: 330px;
    margin: 50px auto;
}

form.signin input.form-control {
    margin-bottom: 5px;
}

form.signin input.btn {
    margin-top: 15px;
}

.users {
    width: 330px;
    margin: 50px;
}

p.text-expression {
	/*color: #c7bebe;*/
    color: #818181;
    clear:both;
    text-align: center;
    padding: 10px 0;
}

.schematic {
	overflow: hidden;
	height: 70%;
	width: 100%;
    /*padding-bottom: 20px;*/
}

.slider {
	position: absolute;
    right:0;
}

.container {
    position:relative;
    margin-bottom: 40px;
}

.slider .slider-handle {
    background: #0d59c3;
}

body {
    font-family: 'Quicksand';
    /*background: #1681f9;*/
    background: #F0EEEE;
    padding: 0;
    margin: 0;
    color: #003580
}

.top {
    text-align: center; 
    letter-spacing: 0.5em; 
    font-size: 0.8em; 
    margin: 30px 0;
}

.content {
    text-align: center; 
    text-transform: uppercase
}

.content p {
    padding: 0 0 15px 0
}

div.input-group {
    width: 888px;
    margin: 0 auto;
}

span.label {
    background: #0d59c3;
    padding: 0px 25px 20px 25px;
    font-size: 2em; 
    color: #FFF; 
    float: left; 
    font-weight: bold;
    height: 40px;

}

span.highlight {
    background: #0d59c3; 
    padding: 0 5px; 
    color: #FFF;
}

input.expression {
    border: 0; 
    padding: 20px; 
    width: 800px; 
    font-size: 1.5em; 
    float: left;
    color: #003580;
    height: 40px;
}

.example-submit {
    background: #0d59c3;
    color: #FFF; border: 0;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5em;
    padding: 15px 35px;
    margin: 35px 50px;
    float:left;
}

.examples {
    margin:0 auto;
    width:800px;
    text-align: center;

}
