<html>
	<head>
		<title>Logic Layout</title>
		
		<!-- Bootstrap and Slider CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
 -->		<link rel="stylesheet" type="text/css" href="/static/css/slider.css">

		<!-- Custom CSS -->
		<link href="/static/css/main.css" rel="stylesheet">

		<!-- jQuery -->
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-migrate.min.js"></script>

		<!-- Bootstrap and Slider JavaScript -->
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-slider.js"></script>
	</head>
	<body>

		<!-- Nav Bar -->
		<!-- <nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Logic Layout</a>
			</div>
		</nav> -->

		<div class="top">
		      <h1>LOGIC LAYOUT</h1>
	    </div>
		<!-- Extending other HTML files -->
		<div class="container">
			{% block body %}
			{% endblock %}
		</div>

		<!-- Credits -->
		<footer>
			<p align='center'>
				&copy; <a href="https://twitter.com/ingridavendano">Ingrid Avenda&ntilde;o</a> 2013
			</p>
		</footer>
	</body>
</html>