<html>
	<head>
		<title>Digital Logic Schematics</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/css/slider.css">
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

		<!-- Custom CSS -->
		<link href="/static/css/main.css" rel="stylesheet">

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-slider.js"></script>
	</head>
	<body>

		<!-- Nav Bar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Logic Layout</a>
			</div>
		</nav>

		<!-- Extending other HTML files -->
		<div class="container">
			{% block body %}
			{% endblock %}
		</div>

		<!-- Credits -->
		<footer>
			<p align='center'>
				&copy; <a href="https://twitter.com/ingridavendano">Ingrid Avenda&ntilde;o</a> 2013
			</p>
		</footer>
	</body>
</html>