{% extends 'master.html' %}
{% block body %}

<p>
	{{expression}}
</p>

<p>
 <a href="/">New expression?</a>
</p>

<div>
	<canvas id="canvas" resize></canvas>
</div>


<script type="text/javascript" src="/static/js/paper.js"></script>
<script type="text/javascript" src="/static/js/circuit.js"></script>
<script src="/static/js/circuit.js"></script>

<script type="text/paperscript" canvas="canvas">
	var results = JSON.parse( '{{json | safe}}' );

	function onResize(event) {
		var xWin = view.bounds.width;
		// var xWin = 1140;
		console.log(xWin);
		var yWin = view.bounds.height;
		// var yWin = 600;
		console.log(yWin);

		drawCircuit(results, xWin, yWin);
	}
	

</script>

{% endblock %}
